body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 1em;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

.курсы {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}

.курсы a, .старые-портфолио a {
    display: block;
    padding: 1em;
    background-color: #444; /* Темно-серый цвет для фона */
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 5px;
}

/* Стили для кнопок старых портфолио */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #444; /* Темно-серый цвет для фона */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.button:hover {
    background-color: #222; /* Более темный оттенок при наведении */
}

/* Стили для сетки изображений */
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Стили для профиля */
.profile {
  text-align: center;
  margin-bottom: 20px;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}